.page-header
  %h1
    Edit "#{policy[:title]}"

%ol.breadcrumb
  %li
    %a{ href: "/projects" } Projects
  %li
    %a{ href: "/projects/#{project[:id]}" }
      = project[:title]
  %li
    %a{ href: "/projects/#{project[:id]}?state=#{policy[:state]}" }
      = humanize_policy_state(policy[:state])  
  %li
    %a{ href: "/policies/#{policy[:id]}" }
      = policy[:title]
  %li.active
    Edit

%form{ action: "/policies/#{policy[:id]}", method: 'post' }
  = haml :input, locals: { record_type: 'policy', attribute: :title, label: 'Title', record: policy }
  = haml :input, locals: { record_type: 'policy', attribute: :description, label: 'Description', record: policy, textarea: true }
  = haml :input, locals: { record_type: 'policy', attribute: :state, label: 'Status', record: policy, select: true, options: policy_states_options }

  %div
    %button.btn.btn-default{ type: "submit" } Update Policy
    &nbsp;
    %a{ href: "/policies/#{policy[:id]}"} cancel