.page-header
  %h1= project[:title]

%ol.breadcrumb
  %li
    %a{ href: "/projects" } Projects
  - if active_state
    %li
      %a{ href: "/projects/#{project[:id]}" }= project[:title]
    %li= humanize_policy_state(active_state)
  - else
    %li= project[:title]
    
%p.text-right
  %a.btn.btn-sm.btn-default{href: "/projects/#{project[:id]}/edit" }
    %small.glyphicon.glyphicon-pencil
    Edit Project
  %a.btn.btn-sm.btn-default{href: "/projects/#{project[:id]}/policies/new" }
    %small.glyphicon.glyphicon-plus
    New Policy

.row
  .col-sm-2
    %ul.nav.nav-stacked.nav-pills
      %li{ class: "#{'active' if active_state.nil?}", role: "presentation" }
        %a{ href: '?' } All

      - policy_states.each do |state, value|
        %li{ class: "#{'active' if state == active_state}", role: "presentation" }
          %a{ href: "?state=#{state}" }= humanize_policy_state(state)

  .col-sm-10
    - if policies.any?
      .panel
        %ul.list-group
          - policies.each do |policy|
            %li.list-group-item
              .row
                .col-xs-3.col-sm-2
                  %span.label{ class: label_class_for_policy_state(policy[:state]) }
                    = humanize_policy_state(policy[:state])
                .col-xs-7.col-sm-9
                  = policy[:title]
                .col-xs-1
                  %a.pull-right{ href: "/policies/#{policy[:id]}" } view
